//  Color variables // 
$color-font:#777;
$color-error:#e4757a ;
$color-warning: #fd7856 ;
$color-headline-border:#58e1c1;
$color-link-default:#51ddfc ;

// Font weight  variables //
$primary-font-weight:700; 
$secondary-font-weight:300;

// Media Queries variable // 
$breakpoint-tablet: 768px;


//transition variables // 
$transition-basic: .2s ease-in-out;